{% extends 'base.html' %}
{% load static %}
{% block content %}



<!--Small about section-->
<section class="about" id="about">
    <div class="max_width">
        <h2 class="title">About me</h2>
        <div class="about-content">
            <div class="column left">
                <img src="/static/images/about/head-shot.jpeg" alt="" />
            </div>
            <div class="column right">
                <div class="text">
                    My name is Dinh Tran and I'm a <span>Electrical Engineering Student</span>
                    <p> experienced in Python programing, raspberry pi, and electrical testing devices. I'm a team player and problem solver and ready to be challenged and grow.</p>
                    <a href="https://onedrive.live.com/download?cid=1627B1BA811C5123&resid=1627B1BA811C5123%2135506&authkey=ACeohHN_OohZ7ZQ&em=2" download = "Dinh-Tran-resume"> Download CV</a>
                </div>
            </div>
        </div>
    </div>
</section>

<!--Small skills section-->
<section class="skills" id="skills">
    <div class="max_width">
        <h2 class="title">My Skills</h2>
        <div class="skills-content">
            <div class="column left">
                <div class="text">Electrical Skills</div>
                <p>Circuit analysis, critical thinking, problem-solving, develop-electrical-schematics, circuit design</p>
                <div class="text-1">Tools</div>
                <p>Oscilloscropes, signal generator, multi-meter, frequency simulators</p>
            </div>
            <div class="column right">
                <div class="text">Programing Skills</div>
                <div class="bars">
                    <div class="info">
                        <span>Python</span>
                        <span>70%</span>
                    </div>
                    <div class="line python"></div>
                </div>
                <div class="bars">
                    <div class="info">
                        <span>C++</span>
                        <span>40%</span>
                    </div>
                    <div class="line c"></div>
                </div>
                <div class="bars">
                    <div class="info">
                        <span>Django</span>
                        <span>30%</span>
                    </div>
                    <div class="line django"></div>
                </div>
            </div>
        </div>
    </div>
</section>

{% endblock %}