{% extends 'base.html' %}

{% block content %}

<!-- services section start -->
<section class="elc-proj" id="elc-proj">
    <div class="max-width">
        <h2 class="title">My Projects</h2>
        <div class="proj-content">
            <a href="/contact/">
                <div class="card">
                    <div class="box" href="/contact/">
                        <img src="/static/icons/prototype.png" alt=""></img>
                        <div class="text">Electrical Analysis and Design</div>
                    </div>
                </div>
            </a>
            <a href ="" >
                <div class="card">
                    <div class="box">
                        <img src="/static/icons/programming.png" alt=""></img>
                        <div class="text">Programing Project</div>
                        
                    </div>
                </div>
            </a>
            <a href="">
                <div class="card">
                    <div class="box">
                        <img src="/static/icons/tools.png" alt=""></img>
                        <div class="text">DYI Project</div>
                    </div>
                </div>
            </a>
        </div>
    </div>
</section>

{% endblock %}