
{% extends 'project.html' %}

{% block content-modal %}

<div id = 'modal' class= 'modal'>
    <div id= 'modal-content' class ='modal-content'>
        <div class = 'modal-header' >
            <span id = 'closeBtn' class = 'closeBtn'>&times; </span>
            <h2> Modal Header </h2>
        </div>
        <div class = 'modal-body'>
            <p> asdasda dasd asdsa dasddddddddddddsdasdasd
                asdasdasddddddddddddddddddddddddddddas
                dasdasddddddddddasdasd qw adw           wd wdfqw e weqwdasdasdas  asdascra
                adsasrfrgrg. </p>
            <h3> Problem </h3>
            <div class = 'row' >
                <div class ='column left'>
                    <p> asdasda dasd asdsa dasddddddddddddsdasdasd
                        asdasdasddddddddddddddddddddddddddddas
                        dasdasddddddddddasdasd qw adw           wd wdfqw e weqwdasdasdas  asdascra
                        adsasrfrgrg. </p>

                </div>
                <div class ='column right'>
                    <p></p>
                    <img src = "/static/icons/programming.png" alt = ""> </img>
                </div>
            </div>
            <h3> Solution </h3> 
            <p> asdasda dasd asdsa dasddddddddddddsdasdasd
                asdasdasddddddddddddddddddddddddddddas
                dasdasddddddddddasdasd qw adw           wd wdfqw e weqwdasdasdas  asdascra
                adsasrfrgrg. </p>
            <h3> Challenge </h3>
            <p> asdasda dasd asdsa dasddddddddddddsdasdasd
                asdasdasddddddddddddddddddddddddddddas
                dasdasddddddddddasdasd qw adw           wd wdfqw e weqwdasdasdas  asdascra
                adsasrfrgrg. </p>
        </div>
        <div class ='modal-footer'></div>
        
    </div>
</div>

{% endblock %}