{% extends 'base.html' %}

{% block content %}

<!-- services section start -->
<section class="prg-proj" id="prg-proj">
    <div class="max-width">
        <h2 class="title">Programing Projects</h2>
        <div class="proj-content">
            <div class="card">
                <div class="box" href="/contact/">
                    <img src="/static/images/projects/PrgProj/ttt.png" alt="Tic Tac Toe Game"></img>
                    <div class="text">Tick-Tac-Toe Game</div>
                    <p>Tic Tac Toe text base game run on C++</p>
                    <a href="https://github.com/dinhtran2203/Tic-Tac-Toe">Learn more</a>
                </div>
            </div>
            <div class="card">
                <div class="box">
                    <img src="/static/images/projects/PrgProj/hm.png" alt="Hang Man Game"></img>
                    <div class="text">Hang Man Game</div>
                    <p>Hang Man text base game run on Python</p>
                    <a href="https://github.com/dinhtran2203/Presonal_project/tree/main/Hangman">Learn more</a>
                </div>
            </div>
            <!--
            <div class="card">
                <div class="box">
                    <img src="/static/icons/tools.png" alt=""></img>
                    <div class="text">DYI Project</div>
                    <a href="">Learn more</a>
                </div>
            </div>
            -->
        </div>
    </div>
</section>

{% endblock %}