@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@400;500&family=Ubuntu:wght@300;500&display=swap');

/* navbar styling */
*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	text-decoration: none;
}
.navbar {
	position: fixed;
	width: 100%;
	z-index: 999;
	padding: 8px 0;
	font-family: "Noto Sans JP", sans-serif;
	background-color: #000;
	transition: all 0.3s ease;
}

.navbar.sticky{
	padding: 5px 0;
	background: black; /* deepskyblue */
}

.navbar .max_width{
	display: flex;
	align-items: center;
	justify-content: space-between;	
}

.max_width {
	max-width: 1300px;
	padding: 0 80px;
	margin: auto;
}

.navbar .menu li {
	list-style: none;
	display: inline-block
}

.navbar .menu li a{
	color: #FFF;
	font-size: 18px;
	font-weight: 500;
	margin-left: 20px;
	transition: color 0.3s ease;
}

.navbar .menu li a:hover {
	color: #00BFFF;
}

.navbar .logo a {
	color: #FFF;
	font-size: 35px;
	font-weight: 600;
}

.navbar.sticky .logo a span {
	color: #FFF;
	transition: all 0.3s ease;
}
.navbar .logo a span{
	color: deepskyblue;
}

/* menu button styling */
.menu-btn{
	color: #fff;
	font-size: 23px;
	cursor: pointer;
	display:none;
}

/* Home Page */
.home {
	display: flex;
	background: url("/static/images/background/1.jpg") no-repeat center fixed /*image no-repeat center */;
	background-size: cover;
	width: 100%;
	height: 100vh;
	color: #fff;
	font-family: "Gill Sans", sans-serif;
}

.home .max_width{
	margin: auto 30px auto 20px;
}

.home .home-content .text-1 {
	font-size: 27px;
}
.home .home-content .text-2 {
	font-size: 75px;
	font-weight: 600;
	margin-left: -3px;
}
.home .home-content .text-3 {
	font-size: 40px;
	margin: 5px 0;
}
.home .home-content .text-3 span{
	color: aliceblue;
	font-weight: 500;
}
.home .home-content a{
	display: inline-block;
	background-color: #00bfff;
	color: #fff;
	font-size: 25px;
	padding: 12px 36px;
	margin-top: 20px;
	border-radius: 6px;
	border: 2px solid #00bfff;
	transition: all 0.3s ease;
}

.home .home-content a:hover{
	color: #00bfff;
	background: none;
}

/* All similar styling items */
section {
}
.about, .skills, .contact, .projects, footer{
	font-family: 'Roboto', sans-serif;
}
.about .about-content,
.skills .skills-content,
.contact .contact-content,
.project .proj-content{
	display: flex;
	flex-wrap: wrap;
	align-items: center;
	justify-content: space-between;
}
section .title{
	position: relative;
	text-align: center;
	font-size: 40px;
	font-weight: 500;
	margin-bottom: 60px;
	padding-bottom: 20px;
	font-family:'Roboto Slab', sans-serif;
}
section .title::before{
	content: "";
	position: absolute;
	bottom: 0px;
	left: 50%;
	width: 300px;
	height: 4px;
	background: #111;
	transform: translate(-50%);
}
section .title::after{
	position: absolute;
	bottom: -14px;
	left: 50%;
	font-size: 19px;
	color: #00bfff;
	padding: 5px;
	background: #fff;
	transform: translateX(-50%);
}

/* About section */
.about {
	padding-bottom: 50px;
	padding-top: 110px;
}
.about .title::after{
	content:"Who I am";
}
.about .about-content .left{
	 width: 45%;
 }
.about .about-content .left img{
	height: 400px;
	width: 100%;
	object-fit: contain;
	border-radius: 6px;
}
.about .about-content .right{
	 width: 50%;
	 margin-left: 2px;
 }

.about .about-content .right .text{
	font-size: 23px;
	font-weight: 750;
	margin-bottom: 10px;
	font-family: 'Source Sans pro', sans-serif;
}

.about .about-content .right .text span{
	color: #00bfff;
}

.about .about-content .right .text p{
	text-align: left;
}
.about .about-content .right .text a{
	display: inline-block;
	background-color: #00bfff;
	color: #fff;
	font-size: 20px;
	font-weight: 500;
	font-family: 'Signika Negative', sans-serif;
	padding: 10px 30px;
	margin-top: 20px;
	border-radius: 6px;
	border: 2px solid #00bfff;
	transition: all 0.3s ease;
}
.about .about-content .right .text a:hover{
	color: deepskyblue;
	background: none;
}
/* Skills sections styling */
.skills{
	padding-bottom: 80px;
}
.skills .title::after{
	content: "What I know";
}
.skills .skills-content .column {
	width: calc(50% - 30px);
}
.skills .skills-content .left .text{
	font-size: 22px;
	font-weight: 600;
	margin-bottom: 10px;
}
.skills .skills-content .left .text-1 {
	font-size: 22px;
	font-weight: 600;
	margin-bottom: 10px;
	margin-top: 10px;
}
.skills .skills-content .right .bars{
	margin-bottom: 15px;
}
.skills .skills-content .right .text{
	font-size: 20px;
	font-weight: 500;
	margin-bottom: 10px;
	text-align: center;
}
.skills .skills-content .right .info{
	display: flex;
	margin-bottom: 5px;
	align-items: center;
	justify-content: space-between;
}
.skills .skills-content .right span{
	font-weight: 500;
	font-size: 18px;
}
.skills .skills-content .right .line {
	height: 5px;
	width: 100%;
	background: #D3D3D3; /*light gray*/
	position: relative;
}
.skills .skills-content .right .line::before{
	content: "";
	position: absolute;
	height: 100%;
	width: 80%;
	left: 0;
	top: 0;
	background: #00bfff;
}
.skills .skills-content .right .python::before{
	width: 70%;
}
.skills .skills-content .right .c::before {
	width: 40%;
}
.skills .skills-content .right .django::before {
	width: 30%;
}
.skills .skills-content .left p{
	text-align: justify;
}
.skills .skills-content .left a{
	display: inline-block;
	background-color: #00bfff;
	color: #fff;
	font-size: 16px;
	font-weight: 500;
	padding: 8px 20px;
	margin-top: 20px;
	border-radius: 6px;
	border: 2px solid #00bfff;
	transition: all 0.3s ease;
}
.skills .skills-content .left a:hover{
	color: #00bfff;
	background: none;
}

/* Services section styling */
.projects{
	height: 100%;
	padding-top: 100px;
	padding-bottom: 100px;
}
.projects .title::after{
	content:"What I have done";
}
.projects .proj-content .card{
	margin-left: 20%;
	margin-right: 20%;
	margin-top: 8%;
	background: #00bfff;
	text-align: center;
	border-radius: 6px;
	padding: 30px 40px;
}

.projects .proj-content a{
	color: black;
}

.projects .proj-content .card p{
	padding-top: 2%;
}

.projects .proj-content .card box-1{
	height: 100%;
}
.projects .proj-content .card img{
	height: 100px;
}

/* contact section styling */
.contact{
	padding: 110px 8%;
	width: 100%;
}

.contact .title:after{
	content: "Get in touch";
}

.contact .contact-content .text{
	font-size: 20px;
	font-weight: 600;
	margin-bottom: 10px;
}
.contact .contact-content .left p {
	text-align: justify;
}
.contact .contact-content .left .icons{
	margin: 10px 0;

}
.contact .contact-content .row{
	display: flex;
	height: 65px;
	align-items: center;
}
.contact .contact-content .row .info{
	margin-left: 30px;
}
.contact .contact-content .row i{
	font-size: 25px;
	color: deepskyblue;
}
.contact .contact-content .info .head{
	font-weight: 700;
}
.contact .contact-content .info .sub-title{
	color: #333;
}
.contact .right .fields{
	display: flex;
}
.contact .right .field,
.contact .right .fields .field{
	height: 45px;
	width: 100%;
	margin-bottom: 15px; 
}
.contact .right .field .textarea{
	height: 80px;
	width: 100%;
}
.contact .right .name{
	margin-right: 10px;
}
.contact .right  .name {
	margin-left: 0px;
}
.contact .right .field input,
.contact .right .textarea textarea{
	height: 100%;
	width: 100%;
	border: 1px solid lightgrey;
	border-radius: 6px;
	outline: none;
	padding: 0 15px;
	font-size: 17px;
	font-family: 'Ubuntu', sans-serif;
}
.contact .right .textarea textarea{
	padding-top: 10px;
	resize: none;
}
.contact .right .button{
	height: 45px;
	width: 200px;
}
.contact .right .button button{
	width: 100%;
	height: 100%;
	border: 2px solid #00bfff;
	background: deepskyblue;
	color: white;
	font-size: 25px;
	font-weight: 800;
	font-family: 'Signika Negative', sans-serif;
	border-radius: 6px;
	cursor: pointer;
	transition: all 0.3s ease;
}
.contact .right .button a{
	color: white;
}
.contact .right .button :hover{
	color: deepskyblue;
	background: #33fffb;
}

/* contact section styling */
footer{
	background: black;
	padding: 20px 23px;
	color: white;
	
}
footer span a{
	color: #00bfff;
	text-decoration: none;
	font-family: 'Source Sans Pro', sans-serif;
	font-size: 19px;
	font-weight: bold;
}
footer span a:hover{
	text-decoration: underline;
}

/* responsive media query start*/
@media (max-width: 1304px) {
	.home .max_width {
		margin-left: 0px;
	}
}

@media (max-width: 1104px){
	.about .about-content .left img {
		height: 300px;
		width: 100%;
		object-fit: contain;
		border-radius: 6px;
	}
}
@media (max-width: 990px) {
	.max_width {
		padding: 0 50px;
	}
}
@media (max-width: 955px) {
	.max_width {
		padding: 0 50px;
	}

	.menu-btn {
		display: block;
		z-index: 999;
	}

	.menu-btn i.active:before {
		content: "\f00d";
	}

	.navbar .menu {
		position: fixed;
		height: 100vh;
		width: 100%;
		left: -100%;
		top: 0;
		background: #111;
		padding-top: 80px;
		text-align: center;
		transition: all 0.3s ease;
	}

	.navbar .menu.active {
		left: 0;
	}

	.navbar .menu li {
		display: block;
	}

	.navbar .menu li a {
		display: inline-block;
		margin: 20px 0;
		font-size: 25px;
	}

	.home .home-content .text-2 {
		font-size: 70px;
	}

	.home .home-content .text-3 {
		font-size: 35px;
	}

	.home .home-content a {
		font-size: 20px;
		padding: 8px 30px;
	}

	.max_width {
		max-width: 800px;
	}

	.about .about-content .column {
		width: 100%;
	}

	.about .about-content .left {
		display: flex;
		justify-content: center;
		margin: 0 auto 60px;
	}

	.about .about-content .right {
		flex: 100%;
	}
}
@media (max-width: 670px) {
	.max_width {
		padding: 0 23px;
	}
	.home .home-content .text-2 {
		font-size: 60px;
	}

	.home .home-content .text-3 {
		font-size: 32px;
	}
	.home .home-content a {
		font-size: 17px;
	}
	.skills .skills-content .column,
	.contact .contact-content .column {
		width: 100%;
		margin-bottom: 40px;
	}
}

@media (max-width: 514px) {
	.max_width {
		padding: 0 18px;
	}

	.home .home-content .text-2 {
		font-size: 45px;
	}

	.home .home-content .text-3 {
		font-size: 30px;
	}
}